{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Login {% endblock %}

{% block body_block %}
<div class="container my-5">
    
    <div style="text-align: center;">
        <h3>Login</h3>
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <p>Dont have account? Register <a href="{% url 'register' %}">here</a></p>
    </div>
</div>
{% endblock %}