{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Build1 {% endblock %}
{% block body_block %}
<div class="container my-3">
  <div class="row">
    <div class="col-8 my-3">
      <h3>Upload a csv file.</h3>
      <hr>
      <div id="form">
        <form method="POST" enctype="multipart/form-data" action="{% url 'build1' %}">
          <fieldset>
            {% csrf_token %}
            {{ form}}
            <input type="submit" value="Upload" class="btn btn-primary">
            <fieldset>
        </form>
      </div>

    </div>
  </div>

</div>

</div>
{% endblock %}
